# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]

# Test cache
.pytest_cache/

# Packaging artifacts
*.egg-info/
build/
dist/

# OS files
.DS_Store

# PyCharm
.idea/

# local files
tmp/
tests/baks/
files*.lst
project-tree.txt

# toml (users's local copy, leading / indicates ignore "only in root")
/pdf_annot.example.toml
/pdf-annotations.toml
